@import 'src/shared/view/styles/mixins';

.select {
  $s: &;

  display: flex;
  border: 1px solid;
  flex: 1;

  @include themed('border-radius', 'default-input-border-radius');
  @include themed('border-color', 'default-select-border-color');
  @include themed('color', 'default-font-color');

  & .input-base {
    &__field {
      padding-left: 0;
      border-radius: 0 !important;
    }
  }

  &--is-disabled {
    color: #0006;
    background-color: #fafafa;

    & img {
      opacity: 0.5;
    }
  }

  body &__indicator {
    transition: all 150ms ease-in;
  }

  &__control {
    display: flex;
    // flex-wrap: wrap;
    width: 100%;
    flex: 1;
    justify-content: space-between;
    // padding: 10px 0;

    &--menu-is-open {
      & .select-dropdown-indicator i {
        transform: rotate(180deg);
      }
    }
  }

  &__placeholder {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    @include placeholder();
  }

  &__value-container {
    display: flex;
    position: relative;
    align-items: center;
    flex: 1;
    padding: 0 8px 0 16px;
    flex-wrap: wrap;
    overflow: hidden;

    &--is-multi {
      @include marginChilds(8px);
    }
  }

  &__single-value {
    position: absolute;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 14px;
    padding: 10px 0;

    /* doiuse-disable */

    max-width: calc(100% - 10px);

    /* doiuse-enable */

    @include fadeIn(150ms);
  }

  &_not-searchable #{$s}__single-value {
    position: relative;
  }

  &__multi-value {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 6px 15px;
    font-weight: 400;

    @include themed('background-color', 'default-multi-value-background');
    @include themed('border-radius', 'default-multi-value-border-radius');

    &__label {
      display: flex;
      font-size: 14px;
    }

    &__remove {
      display: flex;
      align-items: flex-end;
      font-size: 12px;
      color: #6c7680;
      cursor: pointer;
      margin-left: 6px;
    }
  }
}
