@import 'src/shared/view/styles/mixins';

.user-chat-module {
  display: flex;
  flex: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;

  &__left {
    display: flex;
    width: 304px;
    border-right: 1px solid;
    height: 100%;

    @include themed('border-color', 'card-border-color');
  }

  &__right {
    display: flex;
    flex: 1;
    overflow: hidden;
    position: relative;
  }
}
