@import 'src/shared/view/styles/mixins';

.events-calendar-component {
  $calendar: &;

  display: flex;
  flex-direction: column;
  flex: 1;

  &__header {
    display: flex;
    height: 48px;

    @include themed('background-color', 'default-grey-background');

    &-cell {
      display: flex;
      flex: 0 1 auto;
      // width: 14.28571428571429%;

      /* doiuse-disable */

      width: calc(100% / 7);

      /* doiuse-enable */

      padding: 14px 16px 16px;
      font-weight: 700;
    }
  }

  &__calendar {
    display: flex;
    flex-direction: column;
    flex: 1;

    &-row {
      display: flex;
      // flex: 1;
      align-items: flex-start;
      position: relative;

      &-events {
        position: absolute;
        height: 100%;
        width: 100%;
        display: flex;
        flex: 1;
        flex-direction: column;
      }
    }
  }

  &__cell {
    $c: &;

    display: flex;
    // flex-direction: column;
    // flex: 0 1 auto;
    border-right: 1px solid;
    border-bottom: 1px solid;
    height: 167px;

    /* doiuse-disable */

    width: calc(100% / 7);

    /* doiuse-enable */

    @include themed('border-color', 'card-border-color');

    &_not-current-month {
      & #{$c}-label {
        color: #8192a2;
      }
    }

    &-content {
      display: flex;
      flex-direction: column;
      position: relative;
      width: 100%;
    }

    &-label {
      display: flex;
      justify-content: flex-end;
      padding: 15px 19px;
      font-size: 18px;
      line-height: 24px;
    }

    &-events-container {
      display: flex;
      flex-direction: column;

      &-row-holder {
        display: flex;
        height: 25px;
      }

      &-event {
        position: relative;
        display: flex;
        align-items: center;
        height: 25px;
        padding: 4px 7px;
        overflow: hidden;
        background-color: #0068ff20;
        color: #0068ff;

        &:not(:first-child) {
          margin-top: 2px;
        }

        &_first-day {
          border-top-left-radius: 6px;
          border-bottom-left-radius: 6px;
          margin-left: 2px;
        }

        &_last-day {
          border-top-right-radius: 6px;
          border-bottom-right-radius: 6px;
          margin-right: 2px;
        }
      }
    }
  }

  &__event-dot {
    display: flex;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    content: '&nbsp';
    margin-right: 5px;
  }

  &__event-title {
    display: flex;
    flex: 0.9;
    // max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__row-event {
    $row-event: &;
    $border-radius: 6px;

    position: absolute;
    display: flex;
    align-items: center;
    margin-top: 51px;
    height: 25px;
    // border: 1px solid #f00;

    &-menu-button {
      display: flex;
      flex: 1;
      // overflow: hidden;
      width: 100%;

      & .menu__button {
        display: flex;
        flex: 1;
        // overflow: hidden;
        width: 100%;
      }
    }

    &-content {
      display: flex;
      flex: 1;
      width: 100%;
      align-items: center;
      justify-content: flex-start;
      overflow: hidden;
      padding: 4px 7px;
      cursor: pointer;
      transition: all 150ms ease;
      line-height: 16px;
      font-size: 12px;

      &-holder {
        display: flex;
        align-items: center;
        flex: 1;
      }

      &-title {
        display: flex;
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      &:hover {
        padding-left: 10px;
      }

      #{$row-event}_with-start & {
        border-top-left-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
        margin-left: 3px;
      }

      #{$row-event}_with-end & {
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
        margin-right: 3px;
      }

      @mixin colorized($color, $background-color, $shadow) {
        @include themed('background-color', $background-color);
        @include themed('color', $color);

        &:hover {
          @include themed('box-shadow', $shadow);
        }

        & #{$calendar}__event-dot {
          @include themed('background-color', $color);
        }
      }

      &_declined {
        @include colorized('event-color-index-declined', 'event-background-color-index-declined', 'event-shadow-index-declined');
      }

      &_color-0 {
        @include colorized('event-color-index-0', 'event-background-color-index-0', 'event-shadow-index-0');
      }

      &_color-1 {
        @include colorized('event-color-index-1', 'event-background-color-index-1', 'event-shadow-index-1');
      }

      &_color-2 {
        @include colorized('event-color-index-2', 'event-background-color-index-2', 'event-shadow-index-2');
      }

      &_color-3 {
        @include colorized('event-color-index-3', 'event-background-color-index-3', 'event-shadow-index-3');
      }

      &_color-4 {
        @include colorized('event-color-index-4', 'event-background-color-index-4', 'event-shadow-index-4');
      }

      &_color-5 {
        @include colorized('event-color-index-5', 'event-background-color-index-5', 'event-shadow-index-5');
      }
    }
  }
}
