$black: #000;
$white: #fff;
$grey: #eee;
$blue: #1266f6;
$red: #e00;
$transparent: transparent;
$bg-color: #fff;
$default-grey: #f0f3f7;
$default-font-color: #0a1f33;

$button-default-color: #1266f6;
$button-default-disabled-background-color: #1266f670;
$button-default-disabled-color: #fff5;

$button-grey-color: #f0f3f7;
$button-grey-disabled-color: #ebebeb50;

$button-transparent-color: #c0c0c0;
$button-transparent-background-color: transparent;
$button-transparent-disabled-background-color: transparent;

$event-color-0: #0068FF;
$event-color-bg-0: #0068FF20;
$event-color-1: #9400FF;
$event-color-bg-1: #9400FF20;
$event-color-2: #A500FF;
$event-color-bg-2: #A500FF20;

$event-color-3: #FF00DA;
$event-color-bg-3: #FF00DA20;
$event-color-4: #FF0091;
$event-color-bg-4: #FF009120;
$event-color-5: #FF0000;
$event-color-bg-5: #FF000020;

$event-color-6: #FF4800;
$event-color-bg-6: #FF480020;
$event-color-7: #FF9900;
$event-color-bg-7: #FF990020;
$event-color-8: #00CA0A;
$event-color-bh-8: #00CA0A20;

