$black: #000;
$white: #fff;
$grey: #eee;
$blue: #1266f6;
$red: #e00;
$transparent: transparent;
$bg-color: #fff;
$default-gray: rgb(204, 204, 204);
$default-font-color: #0a1f33;

$button-default-color: #1266f6;
$button-default-disabled-color: #1266f690;

$button-grey-color: #ebebeb;
$button-grey-disabled-color: #ebebeb50;

$button-transparent-color: #c0c0c0;
$button-transparent-background-color: transparent;
$button-transparent-disabled-background-color: transparent;
