$black: #000;
$white: #fff;
$grey: #eee;
$red: #e00;
$transparent: transparent;
$bg-color: #fff;
$default-gray: rgb(204, 204, 204);

$button-default-color: #1266f6;
$button-default-disabled-color: #1266f690;

$button-grey-color: #ebebeb;
$button-grey-disabled-color: #ebebeb50;
