@import 'src/shared/view/styles/mixins';

.create-organization-finished {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 100%;

  &__content {
    display: flex;
    padding: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include card();
  }

  &__title {
    font-size: 16px;
    margin: 20px 0 10px;
  }

  &__subtitle {
    font-size: 12px;
    margin-bottom: 20px;
  }

  &__actions {
    display: flex;
  }
}
