@import "src/shared/view/styles/mixins";

.markdown-editor {
  display: flex;
  flex: 1;
  border: 1px solid;
  position: relative;

  & > div {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1;
  }

  @include themed('border-color', 'default-input-border-color');
  @include themed('border-radius', 'default-input-border-radius');

  & .CodeMirror {
    height: 100%;

    &-scroll {
      min-height: auto;
    }
  }
}
