@import "src/shared/view/styles/mixins";

.markdown-editor {
  display: flex;
  flex: 1;
  border: 1px solid;
  position: relative;

  & > div {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1;
  }

  @include themed('border-color', 'default-input-border-color');
  @include themed('border-radius', 'default-input-border-radius');

  & .CodeMirror {
    height: 100%;
    border-radius: 8px;
    border: none;
    position: relative;

    &-scroll {
      min-height: auto;
    }
  }

  & .editor-statusbar {
    white-space: nowrap;
  }

  & .editor-toolbar {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid;

    @include themed('border-color', 'default-input-border-color');
  }
}
