@import 'src/shared/view/styles/mixins';

.card {
  position: relative;

  @include card(12px);

  &__top-right-corner {
    position: absolute;
    top: 26px;
    right: 23px;
    color: #f00;
    font-size: 16px;
    line-height: 22px;
  }

  &__header {
    border-bottom: 1px solid;
    padding: 24px;

    @include themed('border-color', 'card-border-color');
  }

  &__title {
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    padding: 26px 26px 7px;
  }

  &__content {
    padding: 0 24px 24px;
  }

  &__footer {
    padding: 10px 8px 10px 24px;
    line-height: 32px;
    border-top: 1px solid;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;

    @include themed('background-color', 'card-footer-background-color');
    @include themed('color', 'card-footer-color');
    @include themed('border-color', 'card-border-color');
  }
}
