.user-sidebar {
  display: flex;
  flex-direction: column;
  width: 280px;
  padding: 0 16px;

  &__route {
    display: flex;
    font-size: 14px;
    color: #1b3b59;
    padding: 15px 20px;
    font-weight: bold;
    border-radius: 12px;
    cursor: pointer;
    transition: all 300ms ease;

    &:not(:last-child) {
      margin-top: 6px;
    }

    &_selected {
      background-color: #f0f3f7;

      & path {
        fill: #1266f6 !important;
      }
    }

    &:hover {
      background-color: #eee;
    }

    &-icon {
      width: 17px;
      height: 17px;
      margin-right: 13px;

      & path {
        fill: #6c7680;
      }
    }
  }
}
