@import 'src/shared/view/styles/mixins';

.npo-create-organization-container {
  display: flex;
  flex: 1;

  &__sidebar {
    padding: 14px;
  }

  &__content {
    display: flex;
    flex: 1;
    flex-direction: column;
    border-left: 1px solid;

    @include themed('border-color', 'card-border-color');

    &-hint {
      display: flex;
      padding: 13px 32px;
      line-height: 20px;

      @include themed('background-color', 'information-pane-background');
      @include themed('color', 'default-heading-text-color');
    }
  }
}
