@import 'src/shared/view/styles/mixins';

.create-new-event-modal {
  display: flex;
  width: 408px;
  position: relative;

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__title {
    display: flex;
    flex-direction: column;
    padding: 20px 25px;
    border-bottom: 1px solid;

    @include themed('border-color', 'card-border-color');

    &-label {
      font-weight: 700;
    }
  }

  &__block {
    padding: 20px 25px;
    border-bottom: 1px solid;

    @include themed('border-color', 'card-border-color');
  }

  &__row {
    display: flex;
    align-items: center;

    &_up-aligned {
      align-items: flex-start;
    }

    &_with-checkbox {
      @include marginChilds(20px);
    }

    &:not(:first-child) {
      margin-top: 15px;
    }

    &-label {
      width: 120px;
    }

    &-field {
      display: flex;
      flex-direction: column;
      flex: 1;

      & .date-picker-field {
        &__input-container {
          width: 180px;
        }
      }
    }
  }

  &__hours-field {
    display: flex;
    flex: 1;

    @include marginChilds(16px);

    & .select-field {
      width: 120px;
    }

    & .input-base-field {
      width: 50px;
    }

    & .error {
      &__text {
        white-space: nowrap;
      }
    }
  }

  &__hours-award-hint {
    margin-top: 10px;
    font-size: 12px;
    line-height: 18px;

    @include themed('color', 'hint-font-color');
  }

  &__error {
    padding: 10px 16px;
  }

  &__actions {
    display: flex;
    padding: 27px 16px 16px;

    @include marginChilds(8px);
  }
}
