@import 'src/shared/view/styles/mixins';

.single-opportunity-view {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: flex-start;
  padding: 29px 24px;

  &__content {
    display: flex;
    flex-direction: column;
    max-width: 685px;
  }

  &__image-row {
    display: flex;
    flex-direction: column;
    position: relative;

    &-image {
      display: flex;
      flex: 1;
      max-width: 100%;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      max-height: 230px;

      &_without-apply {
        border-radius: 12px;
      }
    }
  }

  &__apply-form {
    display: flex;
    justify-content: flex-end;
    padding: 16px;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;

    @include themed('border-color', 'card-border-color');

    & > *:not(:first-child) {
      margin-left: 8px;
    }

    &-share-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;

      @include themed('background-color', 'default-grey-background');

      &:hover {
        border: 1px solid;

        @include themed('border-color', 'card-border-color');
      }

      & i {
        color: #6c7680;
      }
    }
  }

  &__tags-row {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 45px;

    &-item {
      display: flex;
      border-radius: 8px;
      padding: 6px 15px;
      margin-right: 8px;
      margin-bottom: 8px;

      @include themed('background-color', 'tags-background-color');
    }
  }

  &__title {
    display: flex;
    font-size: 36px;
    font-weight: 700;
    line-height: 46px;
    margin-top: 15px;
  }

  &__description {
    display: flex;
    flex-direction: column;
    margin-top: 32px;

    &-title {
      display: flex;
      font-size: 16px;
      font-weight: 700;
      line-height: 22px;
    }

    &-value {
      margin-top: 8px;
      font-size: 14px;
      line-height: 26px;
      position: relative;

      & > * {
        display: flex;
        max-width: 100%;

        & img {
          max-width: 100%;
        }
      }
    }
  }

  &__requirements {
    display: flex;
    flex-direction: column;
    margin-top: 24px;

    &-title {
      display: flex;
      font-size: 16px;
      font-weight: 700;
      line-height: 22px;
    }

    &-content {
      display: flex;
      flex-direction: column;
      margin-top: 8px;
      font-size: 14px;
      line-height: 26px;
    }
  }
}
