@import 'src/shared/view/styles/mixins';

.auth-layout {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-bottom: 64px;

  @include themed('background-color', 'gray-background-color');

  &__top-bar {
    display: flex;
    padding: 30px 40px;
    background-color: #fff;
    border-bottom: 1px solid #e0e7ee;

    & a {
      display: block;
    }

    & .logo {
      display: flex;
      width: 137px;
    }
  }

  &__greeting-image {
    width: 100%;
    height: 100px;
    background-image: url("/static/plant-illustration.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__greeting-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 64px 0;

    &-block {
      display: flex;
      flex-direction: column;
      font-size: 28px;
      text-align: center;
      font-weight: bold;
      line-height: 1.3;
      padding-top: 16px;
      max-width: 240px;
    }
  }

  &__content {
    display: flex;
    justify-content: center;

    &-body {
      display: flex;
      flex-direction: column;
    }

    &_without-logo {
      padding: 0 40px;
    }
  }

  &__name {
    font-size: 20px;
    margin-top: 30px;
    letter-spacing: -0.8px;
  }
}
