@import 'src/shared/view/styles/mixins';

.auth-layout {
  display: flex;
  flex-direction: column;
  flex: 1;

  &__top-bar {
    display: flex;
    padding: 30px 40px;
    border-bottom: 1px solid #e0e7ee;

    & a {
      display: block;
    }

    & .logo {
      display: flex;
      width: 137px;
    }
  }

  &__greeting-text {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #e0e7ee;

    &-block {
      display: flex;
      flex-direction: column;
      font-size: 36px;
      font-weight: bold;
      line-height: 46px;
      padding: 40px 0;
      max-width: 900px;
      width: 600px;
    }
  }

  &__content {
    display: flex;
    margin-top: 40px;
    justify-content: center;

    &-body {
      display: flex;
    }

    &_without-logo {
      padding: 0 40px;
    }
  }

  &__name {
    font-size: 20px;
    margin-top: 30px;
    letter-spacing: -0.8px;
  }
}
