/* @font-face {
  font-family: 'Lato';
  font-weight: 400;
  font-style: normal;
  src:
    url("../fonts/Lato-Regular.ttf") format("truetype");
} */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');
