@import './themes/index';

@mixin fadeIn($duration) {
  animation: fadeIn-animation linear;
  animation-duration: $duration;
}

@mixin fadeOut($duration) {
  animation: fadeOut-animation linear;
  animation-duration: $duration;
}

@mixin sizeUp($duration) {
  animation: sizeUp-animation;
  animation-duration: $duration;
}

@mixin sizeDown($duration) {
  animation: sizeDown-animation;
  animation-duration: $duration;
}

@mixin shine($duration) {
  animation: shine $duration ease-in-out infinite;
}

@mixin slideFromRight($duration) {
  animation: slideFromRight $duration ease-in;
}

@mixin placeholder() {
  font-size: 13px;

  @include themed('color', 'hint-font-color');
}

@mixin card($border-radius: 4px) {
  border: 1px solid;
  border-radius: $border-radius;

  @include themed('border-color', 'card-border-color');
  @include themed('background-color', 'card-background-color');
  @include themed('box-shadow', 'card-shadow');
}

@mixin marginChilds($margin-size: 8px) {
  & > *:not(:first-child) {
    margin-left: $margin-size;
  }
}
