@import 'src/shared/view/styles/mixins';

.auth-layout {
  display: flex;
  margin-top: 80px;

  &__content {
    display: flex;

    &_without-logo {
      padding: 0 40px;
    }

    &-left {
      display: flex;
      flex-direction: column;
      margin-right: 30px;
    }

    &-right {
      @include card();
    }
  }

  &__name {
    font-size: 20px;
    margin-top: 30px;
    letter-spacing: -0.8px;
  }
}
