@import "src/shared/view/styles/mixins";

.enter-message-component {
  display: flex;

  &__left {
    display: flex;
    flex: 1;

    & .markdown-editor {
      border: none;
    }
  }

  &__right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
  }

  &__send-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: default;
    color: #0a1f3380;

    @include themed('background-color', 'default-grey-background');

    &:hover {
      box-shadow: 0 0 4px 0 #0a1f3380;
    }
  }
}
