@import "src/shared/view/styles/mixins";

.date-picker-field {
  display: flex;
  flex-direction: column;
  position: relative;

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 4px;
    top: 2px;
    height: 100%;
    width: 34px;
    font-size: 18px;

    & .icon {
      height: 100%;
    }
  }

  &__input-container {
    display: flex;
    width: 100%;
    border: 1px solid;
    position: relative;
    // padding-right: 40px;

    @include themed('border-radius', 'default-input-border-radius');
    @include themed('border-color', 'default-input-border-color');

    &_with-error {
      @include themed('border-color', 'default-input-error-border-color');
    }

    & input {
      &::placeholder {
        font-size: 13px;
        color: #555;
      }
    }
  }
}
