@import 'src/shared/view/styles/mixins';

.create-password-form {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__content {
    @include card(12px);
  }

  &__row {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    padding: 30px 60px 20px 20px;
    border-bottom: 1px solid #e0e7ee;
    position: relative;
  }

  &__asterisk {
    content: '*';
    position: absolute;
    top: 20px;
    right: 20px;
    color: #f00;
    font-size: 20px;
  }

  &__field {
    max-width: 250px;

    &-caption {
      font-size: 18px;
      font-weight: bold;
    }

    &-hint {
      font-size: 14px;
      padding: 10px 0 20px;

      @include themed('color', 'hint-font-color');
    }
  }

  &__spacer {
    margin: 30px 0 10px;
  }

  &__actions {
    display: flex;
    margin-top: 20px;
    justify-content: flex-end;

    & .button {
      justify-content: center;
    }
  }

  &__error {
    display: flex;
    justify-content: center;
    padding: 10px 0;
  }

  &__footer {
    padding: 16px 24px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: #eff3f7;

    @include themed('color', 'pane-font-color');
  }
}
