.user-dashboard-module {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100vh;

  &__top {
    display: flex;
    height: 95px;
    border-bottom: 1px solid #e0e7ee;
  }

  &__content {
    display: flex;
    flex: 1;

    &-left {
      display: flex;
      flex-direction: column;

      & .sidebar {
        padding: 32px 16px 0;
        width: 280px;
      }
    }

    &-right {
      display: flex;
      flex: 1;
      flex-direction: column;
      border-left: 1px solid #e0e7ee;
    }
  }
}
