@import "src/shared/view/styles/mixins";

.markdown-editor-field {
  display: flex;
  flex-direction: column;
  flex: 1;

  & .markdown-editor {
    &_error {
      @include themed('border-color', 'default-input-error-border-color');
    }
  }

  &__warning {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 4px;

    @include themed('color', 'error-color');
  }
}
