@import "src/shared/view/styles/mixins";

.select-user-type {
  display: flex;
  flex-direction: column;
  padding: 0 40px;

  &__caption {
    display: flex;
    font-size: 18px;
    justify-content: center;
    margin: 40px 0;
    line-height: 24px;

    @include themed('color', 'hint-font-color');
  }

  &__cards {
    display: flex;

    & > div:not(:first-child) {
      margin-left: 15px;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    width: 320px;
    padding: 24px 0;
    cursor: pointer;

    @include card(12px);

    &_selected {
      border: 1px solid;

      @include themed('border-color', 'card-selected-border-color');
    }

    &-title {
      font-size: 18px;
      line-height: 24px;
      color: #0a1f33;
      font-weight: bold;
      padding: 0 24px 24px;
      border-bottom: 1px solid;

      @include themed('border-color', 'default-select-border-color');
    }

    &-body {
      padding: 24px;
      border-bottom: 1px solid;
      line-height: 24px;
      font-size: 16px;
      height: 200px;

      @include themed('border-color', 'default-select-border-color');
    }

    &-action {
      color: #455e75;
      padding: 24px 24px 0;
      line-height: 20px;
      font-size: 14px;
      font-weight: bold;
    }
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 56px;
  }
}
