.top-bar-container {
  display: flex;
  padding: 30px 40px;
  align-items: center;
  justify-content: space-between;
  flex: 1;

  &__logo {
    display: flex;

    &-link {
      display: flex;
    }
  }

  & .logo {
    width: 137px;
    display: flex;
  }

  &__switch-view-mode-action {
    margin-left: 30px;
  }

  & .top-bar-organizations-menu {
    margin-left: 30px;
  }

  &__search-field {
    margin-left: 30px;
  }

  &__left-part {
    display: flex;
  }
}
