.scroll {
  &__track-vertical {
    position: absolute;
    display: flex;
    width: 6px;
    right: 0;
    height: 100%;
    background: transparent;
  }

  &__track-horizontal {
    position: absolute;
    display: flex;
    height: 6px;
    bottom: 0;
    width: 100%;
    background-color: transparent;
  }

  &__thumb-vertical {
    width: 100%;
    border-radius: 4px;
    background-color: #666;
  }

  &__thumb-horizontal {
    height: 100%;
    border-radius: 4px;
    background-color: #666;
  }
}
