.delete-opportunity-modal {
  display: flex;

  &__actions {
    display: flex;
    flex: 1;
    justify-content: flex-end;

    & > *:not(:first-child) {
      margin-left: 8px;
    }
  }

  &__error {
    display: flex;
    padding: 8px;
    flex: 1;
    justify-content: flex-end;
  }
}
