.login-form-module {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  &__caption {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 16px;
  }
}
