@import 'src/shared/view/styles/mixins';

.browse-opportunities-filter {
  display: flex;

  & form {
    display: flex;
    align-items: center;

    @include marginChilds(20px);
  }

  &__field {
    display: flex;
    flex-direction: column;

    & label {
      display: flex;
      font-weight: 700;

      @include marginChilds(8px);
    }

    &_age-range {
      width: 100px;

      & .select-field {
        width: 100%;

        & .select {
          width: 100%;
        }
      }
    }

    &_range-select {
      width: 120px;

      & label {
        display: flex;
        align-items: center;
      }
    }
  }

  &__close-btn {
    display: flex;
    cursor: pointer;
  }
}
