@import 'src/shared/view/styles/mixins';

.create-new-opportunity-container {
  display: flex;
  position: relative;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 1;

  &__create-opportunity-form {
    display: flex;
    flex: 1;
    height: 100%;
  }

  &__left-side {
    display: flex;
    flex-direction: column;
    width: 264px;
    border-right: 1px solid;
    height: 100%;
    position: relative;

    @include themed('border-color', 'default-separator-color');

    &-link-back {
      display: flex;
      align-items: center;
      line-height: 20px;
      padding: 27px;
      cursor: pointer;

      & i {
        font-size: 16px;
        margin-right: 14px;
        transition: all 150ms ease;
      }

      &:hover {
        & i {
          margin-right: 26px;
        }
      }
    }

    &-bar {
      position: absolute;
      width: 100%;
    }

    & .sidebar {
      padding: 0 9px;
      margin-bottom: 15px;
    }

    &-opportunity-name {
      display: flex;
      border-bottom: 1px solid;
      padding: 16px;
      line-height: 22px;
      font-size: 16px;
      font-weight: bold;

      @include themed('border-color', 'default-separator-color');
      @include themed('color', 'default-heading-text-color');
    }

    &-menu-caption {
      font-size: 12px;
      font-weight: bold;
      padding: 16px;

      @include themed('color', 'pane-font-color');
    }

    &-actions {
      padding: 16px;
      border-top: 1px solid;
      border-bottom: 1px solid;

      @include themed('border-color', 'default-separator-color');
    }

    &-hint {
      padding: 16px;
      font-size: 14px;
      line-height: 20px;

      @include themed('color', 'hint-font-color');
    }
  }

  &__right-side {
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 36px;
  }
}
