.sidebar {
  display: flex;
  flex-direction: column;
  width: 280px;

  &__route {
    display: flex;
    font-size: 14px;
    color: #1b3b59;
    padding: 15px 20px;
    font-weight: bold;
    border-radius: 12px;
    cursor: pointer;
    transition: all 300ms ease;

    &:not(:last-child) {
      margin-top: 6px;
    }

    &_selected {
      background-color: #f0f3f7;

      & i {
        color: #0068ff;
      }
    }

    &:hover {
      background-color: #f0f3f7;
    }

    &-icon {
      width: 17px;
      height: 17px;
      margin-right: 13px;
    }
  }
}
