.editable-labeled-date-picker {
  display: flex;
  justify-content: center;

  & .date-picker-field {
    flex: 1;
  }

  &__field {
    display: flex;
  }

  &__placeholder {
    display: flex;
    margin-right: 10px;
  }

  &__value {
    display: flex;
  }

  &__button {
    display: flex;
    margin-left: 10px;
  }
}
