@import "src/shared/view/styles/mixins";

.error {
  display: flex;
  align-items: center;
  margin-top: 6px;

  @include themed('color', 'hint-font-color');

  &__icon {
    width: 12px;
    height: 12px;
    margin-right: 4px;
    color: #f00;
  }

  &__text {
    white-space: pre-line;
    margin-left: 2px;
  }
}
