@import 'src/shared/view/styles/mixins';

.forgot-password-container {
  display: flex;
  flex-direction: column;
  width: 376px;
  overflow: hidden;

  @include card(12px);

  &__card-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid black;

    @include themed('border-color', 'card-border-color');

    padding: 16px;
    transition: 150ms ease;

    .zi {
      color: #6c7680;
    }

    &:hover {
      background-color: darken(#fff, 1);
    }
  }

  &__link-span {
    padding-left: 8px;
    font-weight: bold;

    @include themed('color', 'hint-font-color');
  }

  &__main-wrapper {
    padding: 40px;
  }

  &__header-wrapper {
    padding-bottom: 24px;
  }

  &__header {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
  }

  &__description {
    font-size: 13px;
    line-height: 1.5;
    max-width: 260px;

    @include themed('color', 'hint-font-color');
  }

  &__label {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-bottom: 15px;
  }

  &__field {
    padding-bottom: 16px;
  }

  &__input-label {
    display: block;
    font-size: 14px;
    color: #455e75;
    font-weight: bold;
    padding-bottom: 8px;
  }

  &__spacer {
    margin: 30px 0 10px;
  }

  &__actions {
    width: 100%;
    padding-top: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__actions-left {
    display: flex;
    flex-direction: row;
  }

  &__links {
    display: flex;
    padding: 20px 0;
    font-size: 16px;
    justify-content: center;
  }

  &__error {
    margin: 10px 0;
  }

  &__info {
    margin: 10px 0;
  }
}
