@import 'src/shared/view/styles/mixins';

.event-responses-portal-component {
  display: flex;
  flex-direction: column;
  padding: 16px;
  margin-left: 15px;

  @include card(12px);
  @include themed('background-color', 'root-background-color');

  &__item {
    display: flex;
    align-items: center;

    &-image {
      margin-right: 16px;
    }

    &-name {
      display: flex;
      font-size: 16px;
      line-height: 22px;
      font-weight: 700;
    }
  }
}
