@import "src/shared/view/styles/mixins";

.opportunity-preview-plate {
  display: flex;
  flex-direction: column;
  width: 312px;
  transition: all 150ms ease;

  @include card(12px);

  &_clickable:hover {
    transform: scale(1.03);
  }

  &__image {
    display: flex;
    width: 100%;
    height: 106px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    overflow: hidden;

    & img {
      width: 100%;
    }
  }

  &__tags {
    margin: 23px 0 0;
    padding: 0 16px;
    justify-content: flex-start;
    align-items: flex-start;

    &-value {
      display: inline-flex;
      padding: 6px 15px;
      border-radius: 8px;
      margin-right: 8px;
      margin-bottom: 8px;

      @include themed('background-color', 'button-grey-background');
    }
  }

  &__title {
    display: flex;
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    padding: 16px 48px 3px 16px;
  }

  &__cap-limit {
    padding: 0 48px 0 16px;

    @include themed('color', 'pane-font-color');
  }

  &__status {
    padding: 16px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    margin: 22px 0 0;
    font-size: 14px;

    @include themed('border-color', 'card-border-color');

    &-row {
      display: flex;
      align-items: center;
    }

    &-icon {
      display: inline-flex;
      width: 8px;
      height: 8px;
      content: '&nbsp;';
      border-radius: 50%;
      margin-right: 8px;

      &_accepting {
        @include themed('background-color', 'checkbox-checked-color');
      }

      &_closed {
        @include themed('background-color', 'pane-background-color');
      }
    }
  }

  &__actions {
    display: flex;
    padding: 16px;

    & .button:not(:first-child) {
      margin-left: 8px;
    }
  }

  &__location {
    padding: 0 16px 22px;
    font-size: 14px;
    color: #455e75;
    line-height: 20px;
  }

  &__organization {
    display: flex;
    align-items: center;
    border-top: 1px solid;
    padding: 16px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;

    @include themed('border-color', 'card-border-color');

    &-image {
      display: flex;
      margin-right: 16px;

      & img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
    }

    &-empty-image {
      display: flex;
      margin-right: 16px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }
}
